
.circle{
    background: transparent linear-gradient(177deg, rgba(127, 30, 123, 1) 0%, rgba(25, 7, 59, 1) 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    left: 230px;
    width: 80px;
    height: 80px;
    top: -25px;
    border-radius: 50%;
}



.hero h1{
  display: block; 
  margin: -80px auto 0px auto;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 800;
  font-size: 30px;

}


.circle2{
  background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  top: -10px;
  left: 1100px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hero p{
  display: block;
  margin: -60px auto 0px auto;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.hero p span{
  font-weight: 900;
}





/* Big Screen */


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2560px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    
  }

 



/* Tablet */

@media screen and (max-width: 768px) {

}



/* Mobile */

@media (max-width: 420px){


  
    .circle{
      background: transparent linear-gradient(177deg, rgba(127, 30, 123, 1) 0%, rgba(25, 7, 59, 1) 100%) 0% 0% no-repeat padding-box;
      opacity: 1;
      position: relative;
      top: 20px;
      left: 40px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }


.hero h1{
  display: block; 
  margin: 30px auto 30px auto;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 700;
  font-size: 23px;

}


.circle2{
   background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  top: -40px;
  left: 300px;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
}

.hero p{
  display: block;
  margin: -20px auto 0px auto;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 15px;
}

.hero p span{
  font-weight: 900;
}


}