.dropdown-menu{
    width: 120px;
    position: absolute;
    margin-top:10px ;
    list-style: none;
    text-align: start;
}

.dropdown-menu .li{
    background-color: hsl(0, 0%, 100%, 0.1);
     backdrop-filter: blur(1rem);
    cursor: pointer;

}

.dropdown-menu .li :hover{
  background-color: #271AC1;
  width: 100px;
  color: wheat;

}

.dropdown-menu .clicked{
    display: none;
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding:  10px;
    font-size: 15px;
}