*{
    margin: 0;
    padding: 0;
}

.metricks{
    background-image: url(../Assets/bg.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left:70px ;
    margin-top: 20px;
}

.logo img{
    width: 80px;
    height: 40px;  
}

.logo p{
    color: antiquewhite;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
}

.ul{
    display: flex;
    margin: 10px 20px 30px 40px;  
}


  .mobile-option {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }

 .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.item li{
    margin: 0 1.5rem;
    list-style: none;
    font-size: 20px;
}

 .option button{
  outline: none;
  background-color: #271AC1;
  border-radius: 70px;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
 
}

.item li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 600;
}

.circle{
    background: transparent linear-gradient(177deg, rgba(127, 30, 123, 1) 0%, rgba(25, 7, 59, 1) 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    left: 230px;
    width: 80px;
    height: 80px;
    top: -25px;
    border-radius: 50%;
}

/* hero */

.hero h1{
  display: block; 
  margin: -85px auto 10px auto;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 800;
  font-size: 30px;

}


.circle2{
  background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  top: -10px;
  left: 1100px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hero p{
  display: block;
  margin: -60px auto 0px auto;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.hero p span{
  font-weight: 900;
}

.mainName{
  display: block;
  margin: 35px auto;
}

.otherName{
  display: flex;
  justify-content: center;
}

#fName{
  border : 0px solid gray;
  border-bottom-width : 1px;
  background-color : transparent;
  margin-right: 10px;
  width: 15%;
  color: #ffffff;
  padding-bottom: 7px;
  outline: none;
}

#lName{
  border : 0px solid gray;
  border-bottom-width : 1px;
  background-color : transparent;
  margin-left: 10px;
  width: 15%;
  color: #ffffff;
  padding-bottom: 7px;
  outline: none;
}

.mainBtn{
  display: flex;
  justify-content: center;
  margin-top: -10px;
}


input#mainBtn1{
  outline: none;
  border: none;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 13px;

}

.mainBtn2{
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  margin-left: -30px;
  background-color: #271AC1;
  font-size: 13px;
  color: #ffffff;
}

.circle3{
  background: transparent linear-gradient(177deg, #7F4129 0%, #1C0C28 100%) 0% 0% no-repeat padding-box; ;
  position: relative;
  left: 450px;
  width: 80px;
  height: 80px;
  top: 30px;
  border-radius: 50%;
}

.footer{
   background-color: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  height: 150px;
  width: 70%;
  display: block;
  margin: -21px auto 0px auto;
  border-radius: 50% 50% 0 0/ 100% 100% 0 0; 
  /* transform: scale(1); */

}

.socialMedia{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.socialMedia svg{
  width: 30px;
  height: 30px;
  padding: 10px;
 
}

.terms{
  display: flex;
  justify-content: center;
}

.terms h4{
  margin-right: 10px;
  color: white;
}

.Copyright{
position: relative;
top: 70px;
}

.Copyright2{
  display: none;
}


/* Contact Us */




/* Big Screen */


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2560px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

 
.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  margin-left:70px ;
  margin-top: 20px;
}

.logo img{
  width: 80px;
  height: 40px;  
}

.logo p{
  color: antiquewhite;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
}

.ul{
  display: flex;
  margin: 10px 20px 30px 40px;  
}


.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.item li{
  margin: 0 1.5rem;
  list-style: none;
  font-size: 20px;
}

.option button{
outline: none;
background-color: #271AC1;
border-radius: 70px;
padding: 10px 20px;
color: white;
font-size: 15px;
border: none;

}

.item li a{
  text-decoration: none;
  color: antiquewhite;
  font-weight: 600;
}

.circle{
  background: transparent linear-gradient(177deg, rgba(127, 30, 123, 1) 0%, rgba(25, 7, 59, 1) 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  left: 230px;
  width: 80px;
  height: 80px;
  top: -25px;
  border-radius: 50%;
}

/* hero */

.hero h1{
display: block; 
margin: -85px auto 10px auto;
text-align: center;
line-height: 40px;
color: white;
font-weight: 800;
font-size: 30px;

}


.circle2{
background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
opacity: 1;
position: relative;
top: -10px;
left: 1100px;
width: 60px;
height: 60px;
border-radius: 50%;
}

.hero p{
display: block;
margin: -60px auto 0px auto;
text-align: center;
color: white;
font-weight: 300;
font-size: 20px;
}

.hero p span{
font-weight: 900;
}

.mainName{
display: block;
margin: 35px auto;
}

.otherName{
display: flex;
justify-content: center;
}

#fName{
border : 0px solid gray;
border-bottom-width : 1px;
background-color : transparent;
margin-right: 10px;
width: 15%;
color: #ffffff;
padding-bottom: 7px;
outline: none;
}

#lName{
border : 0px solid gray;
border-bottom-width : 1px;
background-color : transparent;
margin-left: 10px;
width: 15%;
color: #ffffff;
padding-bottom: 7px;
outline: none;
}

.mainBtn{
display: flex;
justify-content: center;
margin-top: -10px;
}


input#mainBtn1{
outline: none;
border: none;
outline: none;
border: none;
border-radius: 50px;
padding: 15px 25px;
font-size: 13px;

}

.mainBtn2{
outline: none;
border: none;
border-radius: 50px;
padding: 15px 25px;
margin-left: -30px;
background-color: #271AC1;
font-size: 13px;
color: #ffffff;
}

.circle3{
background: transparent linear-gradient(177deg, #7F4129 0%, #1C0C28 100%) 0% 0% no-repeat padding-box; ;
position: relative;
left: 450px;
width: 80px;
height: 80px;
top: 30px;
border-radius: 50%;
}

.footer{
 background-color: hsl(0, 0%, 100%, 0.1);
backdrop-filter: blur(1rem);
height: 150px;
width: 70%;
display: block;
margin: -21px auto 0px auto;
border-radius: 50% 50% 0 0/ 100% 100% 0 0; 
/* transform: scale(1); */

}

.socialMedia{
display: flex;
justify-content: center;
padding-top: 30px;
}

.socialMedia svg{
width: 30px;
height: 30px;
padding: 10px;

}

.terms{
display: flex;
justify-content: center;
}

.terms h4{
margin-right: 10px;
color: white;
}

.Copyright{
position: relative;
top: 70px;
}
    
}




/* Tablet */

@media screen and (max-width: 768px) {

  .logo{
    margin-left:50px ;
    margin-top: 25px;
}


}



/* Mobile */

@media (max-width: 420px){

    .logo{
        margin-left:25px ;
        margin-top: 25px;
    }
    
    .logo img{
        width: 40px;
        height: 40px;  
    }
    
    .logo p{
        color: antiquewhite;
        font-size: 10px;
        font-weight: 900; 
        font-style: italic;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
        margin-top: 25px;
        margin-right: 35px;
    }

    .ul {
      display: flex;
      width: 100%;
      height: 200px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 10px;
      padding-top: 30px;
    }
  
    .ul.active {
      background-color: hsl(0, 0%, 100%, 0.1);
      backdrop-filter: blur(1rem);
      left: -15%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-left: 15px;
    }

    .option {
      display: flex;
      height: 10vw; 
      padding-top: 15px;
    }
  

    .mobile-menu {
      display: block;
    } 

    .option button{
      outline: none;
      background-color: #271AC1;
      border-radius: 70px;
      padding: 10px 20px;
      color: white;
      font-size: 15px;
      border: none;
      margin-left: -10px;
      
    }
  
    .circle{
      background: transparent linear-gradient(177deg, rgba(127, 30, 123, 1) 0%, rgba(25, 7, 59, 1) 100%) 0% 0% no-repeat padding-box;
      opacity: 1;
      position: relative;
      top: 20px;
      left: 40px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }


  
/* hero */

.hero h1{
  display: block; 
  margin: 30px auto 30px auto;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 700;
  font-size: 23px;

}


.circle2{
   background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  top: -40px;
  left: 300px;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
}

.hero p{
  display: block;
  margin: -20px auto 0px auto;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 15px;
}

.hero p span{
  font-weight: 900;
}

.mainName{
  display: block;
  margin: 45px auto;
}

.otherName{
  display: flex;
  justify-content: center;
}

#fName{
  border : 0px solid gray;
  border-bottom-width : 1px;
  background-color : transparent;
  margin-right: 15px;
  width: 25%;
  color: #ffffff;
  padding-bottom: 7px;
  outline: none;
}

#lName{
  border : 0px solid gray;
  border-bottom-width : 1px;
  background-color : transparent;
  margin-left: 15px;
  width: 25%;
  color: #ffffff;
  padding-bottom: 7px;
  outline: none;
}

.mainBtn{
  display: flex;
  justify-content: center;
  margin-top: -10px;
}


input#mainBtn1{
  outline: none;
  border: none;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 13px 20px;
  font-size: 12px;

}

.mainBtn2{
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 13px 20px;
  margin-left: -30px;
  background-color: #271AC1;
  font-size: 12px;
  color: #ffffff;
}

.circle3{
  background: transparent linear-gradient(177deg, #7F4129 0%, #1C0C28 100%) 0% 0% no-repeat padding-box; ;
  position: relative;
  left: 60px;
  width: 60px;
  height: 60px;
  top: 80px;
  border-radius: 50%; 
}

.footer{
   background-color: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  height: 180px;
  width: 80%;
  display: block;
  margin: 20px auto 0px auto;
  border-radius: 50% 50% 0 0/ 100% 100% 0 0; 
  /* transform: scale(1); */

}

.socialMedia{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.socialMedia svg{
  width: 20px;
  height: 20px;
  padding: 7px;
 
}

.terms{
  display: flex;
  justify-content: center;
}

.terms h4{
  margin-right: 10px;
  color: white;
  margin-top: 10px;
}

.Copyright{
  display: none;
}

.Copyright2{
position: relative;
top: 30px;
font-size: 13px;
display: block;

}
  
  

}