.tOSMain{
    background-image: url(../Assets/bg.png);
    background-size: cover;
    width: 100%;
    height: 1500vh;
    background-repeat: no-repeat;

}

.tOS{
    padding: 50px;
    
}

.tOSCircle{
    background: transparent linear-gradient(177deg, rgba(127, 30, 123, 1) 0%, rgba(25, 7, 59, 1) 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.tOS2{
    display: flex;
}

.tOSmainText{
    margin-top: -70px;
}
.tOSmainText h1{
    color: white;
    font-size: 40px;
    font-weight: 700;

}
.tOSDottedLines img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 500px;
    top: -30px;
} 

.tOSsmallText{
    margin-top: -100px;

}
.tOSsmallText p{
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

.tOS3{
    display: flex;
    margin-top:30px;
}

.vl{
    border-left: 5px solid white;
    height:70px;
    margin-top: 20px;
}

.tOS3 p{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    font-weight: lighter;

}


.tOSsmallText2{
    margin-top: 30px;

}
.tOSsmallText2 p{
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

.tOS4{
    display: flex;
}

.vl4{
    border-left: 7px solid white;
    height: 35px;
    margin-top: 5px;
 
}

.tOS4 p{
    color: white;
    font-size: 15px;
    padding-left: 20px;
    font-weight: lighter;
}